body {
  background-color: rgb(24, 22, 22);
}
.shero {
  color: azure;
  text-align: center;
}
h1 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h4 {
  color: azure;
}
p {
  font-size: 20px;
}
@media (max-width: 576px) {
  h3 {
    font-size: 25px;
  }
  .sub {
    font-size: 10px;
  }
}
